.App {
    display: grid;
    margin: 30px auto 30px;
    max-width: 80%;
    max-width: 1200px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10vh 85vh;
    grid-gap: 1vh;
    box-sizing: border-box;
}

.header {
    grid-column: 1 / -1;
    background-color: crimson;
}






